* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container{
  width: 100%;
  font-family: 'Nerko One', sans-serif;
  font-size: 300;
  color: rgb(255, 255, 255);
  background-color: rgb(159, 207, 224);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

h1 {
  text-shadow: 2px 2px #797979;
  font-size: 100px;
  text-transform:uppercase;;
}

p{
  font-size: 20px;
}

.deck{
  width: 80%;
  margin: auto;
  text-align: center;
  list-style-type: none;
  
}

.first-raw{
  margin-bottom: 40px;
  
}

.carta{
  height: 200px;
  width: 170px;
  background-image: url(img/pattern.png);
  background-size: 100px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
  display: inline-block;
  box-shadow: 4px 2px 2px 4px #888888;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

span{
font-size: 30px; 
padding-top: 180px;
color:rgb(233, 100, 29);
display: none;
}

.first-couple{

}

.second-couple{

}

.third-couple{

}

.fourth-couple{

}

.fifth-couple{

}

.sixth-couple{
  
}


















h4{
  color: rgb(32, 30, 30);
}